{% extends 'base.html' %}

{% block title %}
remove-post:
{% endblock %}

{% block content %}
<br>
{% for group in request.user.groups.all %}
{% if group.name == 'admin' %}

<h2 class='text-danger'>Delete Post:</h2>
<form method='POST'>
    {% csrf_token %}
    <h3>[ {{ object.title }} ]</h3>
    {% comment %} <input type="text" name="title" placeholder="title"> {% endcomment %}
    <br>
    <input type="submit" value="DELETE">
</form> 

{% endif %}
{% endfor %}

{% comment %} <form action="http://www.google.com/search" method="get">
    <input type="text" name="q" placeholder="your search">
    <input type="submit" value="save.">
</form> {% endcomment %}

{% endblock %}