{% extends 'base.html' %}

{% block title %}
all-evidence:
{% endblock %}

{% block content %}
<br>
{% for instance in object_list %}
<br>
<div class="container bg-secondary rounded">
<p class="">{{ instance.id }}. <a href="{{ instance.get_absolute_url }}" class='fs-2 badge badge-success' style='None'>{{ instance.title }} </a>
    <br>
    <p>{% if instance.description %} 
            {{ instance.description }} 
            {% else %} 
            Coming Soon... 
            {% endif %}</p>

<br>
    {% if instance.speaker == 'Emily Parker' or instance.speaker == 'Jeff Jarvis' %}
            <p class="fs-4 text-danger">{{ instance.speaker }} </p>
            {% elif instance.speaker == 'Roger McNamee' or instance.speaker == 'Franklin Foer'%}
            <p class="fs-4 text-info">{{ instance.speaker }} </p>
            {% else %}
            <p class="fs-4 text-dark">{{ instance.speaker }} </p>
            {% endif %}

    <p class="fs-6"> {{ instance.source }} </p>
<a href="/delete/{{ instance.id}}" class='fs-6 text-dark'>[ DEL ]</a>
</p>
</div>
{% endfor %}
{% endblock %}