{% extends 'base.html' %}

{% block title %}
all-evidence:
{% endblock %}

{% block content %}

{% include 'debate_nav.html' %}

    <div class="container">
        <h2 class="fs-4 text-center text-light"> moderated by john donvan</h2>
        <article class="row mb-2">
            <div class="container for-motion col-sm bg-danger mb-2 pb-4 rounded">
                <h2 class='text-center'>for-motion:</h2>
                <h3 class='fs-4'>jeff jarvis <br> emily parker </h3>
                <hr>
                
                <div class="list-group">

{% for instance in object_list %}
{% comment %} #FOR {% endcomment %}
{% if instance.speaker == 'Emily Parker' or instance.speaker == 'Jeff Jarvis' or instance.speaker == 'FOR' %}

                  <div class="list-group-item border-dark bg-light">
                    <div class="d-flex w-100 justify-content-between">
                      
                      <h5 class="mb-1 text-danger">
                      <br>
                      [---
                      <br><br>

                      {{ instance.title|linebreaks }} 
                      
                      <br>
                      ---]</h5>

                    </div>
                    <hr>
                    <br>
                        <figure class='bg-light'>
                          <blockquote class="blockquote fs-6">
                            <p>{{ instance.description|linebreaks }}</p>
                          </blockquote>
                          <figcaption class="blockquote-footer text-danger">
                          in reference to: {{ instance.speaker}}
                          </figcaption>
                        </figure>


                    <a href="{{ instance.source }}"><small class="text-secondary"> {{ instance.source }}</small></a>
                  </div>
{% endif %}
{% endfor %}

                </div>
            </div>
{% comment %} #AGAINST {% endcomment %}
            <div class="container against-motion col-sm bg-info mb-2 pb-4 rounded">
                <h2 class='text-center'>against-motion:</h2>
                <h3 class='fs-4'>franklin foer <br> roger mcnamee </h3>
                <hr>     

                <div class="list-group">
                  
{% for instance in object_list %}
{% comment %} #FOR {% endcomment %}
{% if instance.speaker == 'Roger McNamee' or instance.speaker == 'Franklin Foer' or instance.speaker == 'AGAINST' %}

                  <div class="list-group-item border-dark bg-light">
                    <div class="d-flex w-100 justify-content-between">
                      
                      <h5 class="mb-1 text-info">
                      <br>
                      [---
                      <br><br> 
                      
                      {{ instance.title|linebreaks}} 
                      
                      <br>
                      ---]</h5>

                    </div>
                    <hr>
                    <br>
                        <figure class='bg-light'>
                          <blockquote class="blockquote fs-6">
                            <p>{{ instance.description|linebreaks }}</p>
                          </blockquote>
                          <figcaption class="blockquote-footer text-info">
                          in reference to: {{ instance.speaker}}
                          </figcaption>
                        </figure>


                    <a href="{{ instance.source }}"><small class="text-secondary"> {{ instance.source }}</small></a>
                  </div>

{% endif %}
{% endfor %}

                </div>                           
            </div>
        </article>
    
    </div>
{% endblock %}
                                      