{% extends 'base.html' %}

{% block title %}
all-evidence:
{% endblock %}

{% block content %}
<br>
{% for instance in object_list %}
<br>
<div class="container bg-secondary rounded p-3">
<p class="">{{ instance.id }}. 
<h2 class="fs-3 "> 
{{ instance.title }}
</h2> 
    <br>
    <p>{% if instance.description %} 
            {{ instance.description|linebreaks }} 
            {% else %} 
            Coming Soon... 
            {% endif %}</p>

<br>
    {% if instance.speaker == 'Emily Parker' or instance.speaker == 'Jeff Jarvis' %}
            <p class="fs-4 text-danger">{{ instance.speaker }} </p>
            {% elif instance.speaker == 'Roger McNamee' or instance.speaker == 'Franklin Foer'%}
            <p class="fs-4 text-info">{{ instance.speaker }} </p>
            {% else %}
            <p class="fs-4 text-dark">{{ instance.speaker }} </p>
            {% endif %}

    <p class="fs-6 container-fluid text-dark">  
        <a href="{{ instance.source }}" class=''> [source] </a> 

        <div class='text-end'><a href="/delete/{{ instance.id }}" class='fs-6 text-dark'>[ DEL ]</a>
            <a href="{{ instance.get_absolute_url }}" class='fs-6 text-dark' style='None'> [EDIT] </a>
         </div> 
    </p>
</p>
</div>
{% endfor %}
{% endblock %}