{% extends 'base.html' %}

{% block title %}
final_paper:
{% endblock %}

{% block content %}

{% include 'debate_nav.html' %}

            <div class="container text-center">
                    <h1 class='text-center'>ROUGH DRAFT TESTING</h1>
            </div>



<div class="m-5">
    <div class="p-5 mx-auto bg-light text-break border-start border-end border-5 border-dark" style='width: 80%;'>

        <p class="container text-start text-dark">
        Dan Muck
        <br>
        Emily Skjold
        <br>
        ENGL1010
        <br>
        October 6, 2021
        </p>
    <br>
    <br>
            <h1 class="text-center fs-3 text-dark">
                Social Media is a Hindrance to Democracy
            </h1>
    <br>
    <br>

        {% comment %} INTRO/THESIS {% endcomment %}
        <p class="mx-auto px-5 text-start text-dark" style="text-indent: 40px;">
    	The platforms that once opened the door for us to take our lives online are now a wasteland of disinformation. The tech giants that own these companies are in positions of immense power due to their seismic outreach and massive databases of user information-- essentially having unmitigated control over all of this with constitutional protections. Moving forward, we need to spend more time taking into consideration the influence these platforms have on our daily lives and the role they play in global politics. "If democracy is, you know, reflecting the will of the people… social media reflects the will of the people so that's not democratic, but is that really true?” (Parker, debate 49:02) 
        </p>
        <br>



        {% comment %} FIRST POINT {% endcomment %}
        <p class="mx-auto px-5 text-start text-dark" style="text-indent: 40px;">
    	There are government agencies using these platforms to proliferate political nonsense and/or exert control over their own citizens, while further tainting the already questionable troves of user data, with a constant flow of disinformation. China employs strict censorship over all internet traffic to ensure the health of the communist regime and nearly 1 in 8 percent of Chinese internet users use proxy servers and virtual private networks to get around firewalls. (CFR, Exerting Control, Circumventing the Censors) This is a small percentage of the Chinese population that are able to circumvent The Great Firewall of the Communist Party and even have the opportunity to show their democratic voice. Government powers inherently have power and access to the same tools as its people, therefore the  power dynamic does not shift with more lanes of communication.
        </p>
        <br>



        {% comment %} SECOND POINT {% endcomment %}
        <p class="mx-auto px-5 text-start text-dark" style="text-indent: 40px;">
    	The business structure of the platforms lead to questionable ethical decisions and political affiliations in the name of profit which in turn,  loosens the integrity of the controlling parties. 
                “The Russians did not hack Facebook, they used the tools precisely as they were designed to be used. Secondly, the companies themselves are complicit.  The business model and algorithms are built on behavior modification and manipulation, by design, because that is good  for profits.” (McNamee, debate) 
        </p>
        <br>



        {% comment %} THIRD POINT {% endcomment %}
        <p class="mx-auto px-5 text-start text-dark" style="text-indent: 40px;">
    	The foundations of Facebook rely on our ability to persist within their delegated hive mind of pseudo-social interactions. Free speech is a right that we as people have, but Facebook is a service that many choose to use. This is an important distinction to make when we decide on the integrity of the news it provides.</p>

            <p class="ps-5 text-dark text-start" style="text-indent: 40px;">
                Frances Haugen, 37, joined Facebook in 2019 to work on civic integrity, including "issues related to democracy and misinformation,”… But she said her feelings about the company started to change when it decided to dissolve its civic integrity team shortly after the election. (CNN, Disillusioned at Facebook)
            </p>

        <p class="mx-auto ps-5 text-dark text-start">
        By openly turning a blind eye to its role in a global crisis, Facebook shows that it favors web traffic over the presentation of valid, factual information.
        </p>
        <br>

        {% comment %} COUNTER {% endcomment %}
        <p class="mx-auto px-5 text-start text-dark" style="text-indent: 40px;">
    	It cannot be denied that social media has provided an excellent incubator for positive movements as well but did we not always have that outreach   with traditional media? The only difference now is the person behind the keyboard and a much larger pool of opinions and sources to filter    through, and even that is largely controlled by algorithms and out of the hands of democracy.

                "The internet doesn’t cause revolution, its just not what the internet does but the internet can facilitate organization when the moment has come” (Parker, Social Media’s Role in the Arab Spring)

        Black Lives Matter is an internet-fueled, spiritual continuation of the March on Washington and the Rodney King riots which predated even the infancy of what we consider Social Media today. Social Media was not the reason behind these global movements; it was the need for change and what we are seeing is the voice of the democratic people.
        </p>
        <br>


        {% comment %} CLOSING {% endcomment %}
        <p class="mx-auto px-5 text-start text-dark" style="text-indent: 40px;">
    	Social Media can provide an excellent platform to voice oppositional opinions towards the elite powers but it also fertilizes the ground beneath terrorist organizations and hate groups. With an imbalance of power, the positive effects that this can have, will often be stifled and reconfigured to fit the agenda of the stronger party.
        </p>
        <br>


    </div>
</div>

	








{% endblock %}