{% extends 'base.html' %}

{% block title %}
ev_home:
{% endblock %}

{% block content %}

<br>

{% for group in request.user.groups.all %}
{% if group.name == 'admin' %}

        <div class="container text-center text-warning">
        <a href="/evidence/" class='link-light text-decoration-none'> [EV_TRACKER] </a>
        <a href="/sources/" class='link-light text-decoration-none'> [SRC] </a>
        <a href="/final_paper/" class='link-light text-decoration-none'> [FNL_DRFT] </a>

        <a href="/postal/articles/" class='link-light text-decoration-none'> [BLOG] </a>
         :|:

        <a href="/new_ev/"> [NEW] </a>
        <a href="#"> [DEL] </a>
        <a href="/ev_editor/2/"> [EDIT] </a>
        </div>

{% endif %}
{% endfor %}


<br>
<h1 class='bg-dark text-warning p-3'> ../debate_project:HOME</h1>
<div class="container-fluid px-5">
        <a href='/evidence/' class="badge bg-warning text-dark fs-3 p-3 ms-5 text-decoration-none">ev_tracker</a>
        <a href='/sources/' class="badge bg-warning text-dark fs-3 p-3 ms-5 text-decoration-none">sources</a>
        <a href='/final_draft/' class="badge bg-warning text-dark fs-3 p-3 ms-5 text-decoration-none">final_paper</a>
        <a href='/postal/articles/' class="badge bg-warning text-dark fs-3 ms-5 p-3 text-decoration-none">blog</a>
</div>
<hr>
<br>




{% endblock %}