{% extends 'base.html' %}

{% block title %}
ev_home:
{% endblock %}

{% block content %}

{% include 'debate_nav.html' %}


<br>
<div class="container">

<div class="container rounded-3 bg-danger p-3">
        <a href="https://www.intelligencesquaredus.org/debates/social-media-good-democracy" class='text-decoration-none text-dark text-center'>
                <h1>[ Intelligence Squared US Debate "Social Media is Good for Democracy" ] </h1>
        </a>
        <br>
        <br>
                <p class='fs-4 ps-5'>In response to the afformentioned debate, moderated by John Donvan with participants Franklin Foer, Jeff Jarvis, Roger McNamee and Emily Parker:</p>
        <br>

</div>
<br>
<br>
<div class="container text-center fs-1 text-danger">
<hr>
<h1>Social Media is a Hindrance to Democracy</h1>
</div>
<br>

<div class="d-flex justify-content-end">
        <div class="d-flex justify-content-end py-5 pe-5 fs-4 bg-black text-light rounded-2 float-end text-end" style='text-indent: 40px; padding-left: 80px; width: 80%;'>
                "The platforms that once opened the door for us to take our lives online are now a wasteland of disinformation. The tech giants that own these companies are in positions of immense power due to their seismic outreach and massive databases of user information-- essentially having unmitigated control over all of this with constitutional protections."
        </div>
</div>
<br>
<br>
<hr>
<br>
<div class="container">
<div class="container row">
        <div class="col p-3 mx-auto bg-secondary rounded-3 text-light">
                <h2 class='text-end text-info'>The Internet & Social Media</h2>
                <hr>
                <h3 class='text-end text-info'>Social media is being tied to national crisis and turning up in headlines around the world.</h3>
                <br>
                <p class='text-dark'>It's time we put to rest the notion that such a large conglomerate of un-verified media being advertised as "news" is best in terms of national interest. With so many extra dividing factors that hold little merit in the world, people are swaying more radically-- politically speaking, thus furthering us even more from a content democratic state. (in the US, specifically) 
                </p>
        </div>
        <div class="col text-end">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/K_daK4grK5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</div>
</div>
<br>
<br>
<div class="container">
<div class="container row">
        <div class="col">
                <iframe width="560" height="315" class="text-end" src="https://www.youtube.com/embed/jHLsyn8GnmM" title="YouTube video player" frameborder="0"   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
        </div>
        <div class="col p-3 mx-auto bg-secondary rounded-3 text-light">
                <h2 class='text-end text-info'>The Internet & Social Media</h2>
                <hr>
                <h3 class='text-end text-info'>Social media is being tied to national crisis and turning up in headlines around the world.</h3>
                <br>
                <p class='text-dark'>It's time we put to rest the notion that such a large conglomerate of un-verified media being advertised as "news" is best in terms of national interest. With so many extra dividing factors that hold little merit in the world, people are swaying more radically-- politically speaking, thus furthering us even more from a content democratic state. (in the US, specifically) 
                </p>
        </div>
</div>
</div>
<br>

<h1></h1>

<br><br>
</div>


{% endblock %}