{% extends 'base.html' %}

{% block title %}
ev_home:
{% endblock %}

{% block content %}

<br>
<div class="container text-center text-warning">
<a href="/evidence/" class='link-light text-decoration-none'> [EV_TRACKER] </a>
<a href="/sources/" class='link-light text-decoration-none'> [SRC] </a>
<a href="/final_paper/" class='link-light text-decoration-none'> [FNL_DRFT] </a>

<a href="/postal/articles/" class='link-light text-decoration-none'> [BLOG] </a>
 :|:

{% for group in request.user.groups.all %}
{% if group.name == 'admin' %}
<a href="/new_ev/"> [NEW] </a>
<a href="#"> [DEL] </a>
<a href="/ev_editor/2/"> [EDIT] </a>
{% endif %}
{% endfor %}

</div>

<br>
<h1 class='bg-dark text-warning p-3'> ../debate_project:HOME</h1>
<br>
<hr>




{% endblock %}