{% extends 'base.html' %}

{% block title %}
sources:
{% endblock %}

{% block content %}

{% include 'debate_nav.html' %}

{% for instance in object_list %}
<br>
<div class="container-md bg-secondary rounded-3 p-5">
{% if instance.speaker == 'Emily Parker' or instance.speaker == 'Jeff Jarvis' or instance.speaker == 'FOR' %}
<div class="fs-3 p-3 pe-5 m-3 border-3 border-dark text-danger bg-light rounded-3"> 
{{ instance.title|linebreaks }}
</div> 
{% elif instance.speaker == 'Roger McNamee' or instance.speaker == 'Franklin Foer' or instance.speaker == 'AGAINST' %}
<div class="fs-3 p-3 pe-5 m-3 border-3 border-dark text-info bg-light rounded-3"> 
{{ instance.title|linebreaks }}
</div> 
{% endif %}
    <br>
    <div class='bg-dark text-light rounded py-3 px-4 mx-5'>{% if instance.description %} 
            info: 
            <hr>
            {{ instance.description|linebreaks }} 
            {% else %} 
            no info... 
            {% endif %}</div>
    <br>
    <div class='bg-dark text-light rounded py-3 px-4 mx-5'>{% if instance.my_notes %} 
            notes: 
            <hr>
            {{ instance.my_notes|linebreaks }} 
            {% else %} 
            no notes... 
            {% endif %}</div>
    <br>

            {% if instance.speaker == 'Emily Parker' or instance.speaker == 'Jeff Jarvis' or instance.speaker == 'FOR' %}
            <p class="text-center fs-4 p-3 bg-dark text-danger rounded-pill">{{ instance.speaker }} <a href="{{ instance.source }}" class='fs-6 bg-dark text-light mx-auto text-center' style='none'>  {{ instance.source }}  </a></p>

            {% elif instance.speaker == 'Roger McNamee' or instance.speaker == 'Franklin Foer' or instance.speaker == 'AGAINST' %}
            <p class="text-center fs-4 p-3 bg-dark text-info rounded-pill">{{ instance.speaker }} <a href="{{ instance.source }}" class='fs-6 bg-dark text-light mx-auto text-center' style='none'>  {{ instance.source }}  </a> </p>

            {% else %}
            <p class="text-center fs-4 p-3 bg-dark text-dark rounded-pill">{{ instance.speaker }} <a href="{{ instance.source }}" class=' fs-6 bg-dark text-light mx-auto text-center' style='none'>  {{ instance.source }}  </a> </p>
            {% endif %}
    {% if user.username == 'danmuck' %}
    <p class="fs-6 container-fluid text-dark">  
        <div class='text-end'><a href="/delete_ev/{{ instance.id }}" class='fs-6 text-dark'>[ DEL ]</a>
            <a href="{{ instance.get_absolute_url }}" class='fs-6 text-dark' style='None'> [EDIT] </a>
         </div> 
    </p>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
