
<div class="container text-center">
<br>
<span class="container px-5 py-2 text-center">
        <a href='/ev_home/' class="badge bg-warning text-dark fs-3 p-3 ms-5 text-decoration-none">home</a>
        <a href='/evidence/' class="badge bg-warning text-dark fs-3 p-3 ms-5 text-decoration-none">ev_tracker</a>
        <a href='/final_paper/' class="badge bg-warning text-dark fs-3 p-3 ms-5 text-decoration-none">final_paper</a>
        <a href='/sources/' class="badge bg-warning text-dark fs-3 p-3 ms-5 text-decoration-none">sources</a>
        <a href='/postal/debate_articles/' class="badge bg-warning text-dark fs-3 ms-5 p-3 text-decoration-none">blog</a>

</span>
<hr>
<br>
</div>