{% extends 'base.html'%}

{% block title %}
home:
{% endblock %}

{% block content %}
<h1 class='bg-dark text-warning p-3'> ../home</h1>
<hr>
<div class='m-3 p-3 rounded-pill bg-warning text-dark'>this is you: <span class='text-danger strong'>[ {{ request.user }} ]</span></div>
<br>

<div class="container-fluid p-5">
<a href='/ev_home/' class="badge bg-warning text-dark fs-3 p-3 ms-5 text-decoration-none">debate project</a>
<a href='/todo/' class="badge bg-warning text-dark fs-3 p-3 ms-5 text-decoration-none">ToDo</a>
<a href='/postal/articles/' class="badge bg-warning text-dark fs-3 ms-5 p-3 text-decoration-none">blog</a>
<br>

</div>
{% endblock %}

