<nav class="navbar navbar-expand-sm navbar-dark bg-warning text-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-dark" href="/admin/">danmuck. //</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar_base"
            aria-controls="navbar_base"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar_base">
            <div class="navbar-nav">
                {% comment %} main {% endcomment %}
                <a class="nav-link active" aria-current="page" href="/home/">home: | </a>
                {% comment %} <a class="nav-link active" aria-current="about" href="/about/">about: | </a> {% endcomment %}
                <a class="nav-link active" aria-current="page" href="/contact/">contact: | </a>
                <a class="nav-link active" aria-current="postal" href="/postal/">postal: | </a>

                {% comment %} toodoo {% endcomment %}
                <a class="nav-link active text-danger" aria-current="todo" href="/todo/">todo: | </a>


                {% comment %} tutorial {% endcomment %}
                <a class="nav-link active text-dark align-end" aria-current="product" href="/products/1/">products[yt]: | </a>




            </div>
        </div>
                <!-- SCHOOL STUFF -->
                <a class="nav-link active text-info" aria-current="articles" href="/postal/articles/">blog: | </a>
                <a class="nav-link active text-info" aria-current="page" href="/ev_tracker/">ev_tracker: | </a>
                <a class="nav-link active text-danger" aria-current="ev_home" href="/ev_home/">ev_home: | </a>
    </div>
</nav>