{% extends 'base.html' %}

{% block title %}
ToDo:
{% endblock %}

{% block content %}
<br>
<div class="container text-center text-warning">
<a href="/list/"> [INDEX] </a>
<a href="/new/"> [NEW] </a>
 :|:
<a href="/delete/1/"> [DEL] </a>
<a href="/editor/1/"> [EDIT] </a>
</div>
<hr>

<h1>{{ object.title }}</h1>
<p>{% if object.description %} 
        {{ object.description|linenumbers|linebreaksbr }} 
        {% else %} 
        Coming Soon... 
        {% endif %}</p>
<p class="fs-4"> {{ object.date }} </p>

{% endblock %}