{% extends 'base.html' %}

{% block title %}
new-product:
{% endblock %}

{% block content %}
<br>
<h2 class='text-danger'>Delete Product:</h2>
<form method='POST'>
    {% csrf_token %}
    <h3>[ {{ object.title }} ]</h3>
    {% comment %} <input type="text" name="title" placeholder="title"> {% endcomment %}
    <br>
    <input type="submit" value="DELETE">
</form> 

{% comment %} <form action="http://www.google.com/search" method="get">
    <input type="text" name="q" placeholder="your search">
    <input type="submit" value="save.">
</form> {% endcomment %}

{% endblock %}